
.DecaturVoteSearch {
    max-width:80ch;
    margin-left: auto;
    margin-right:auto;
}

.DecaturVoteSearch .SearchResult {
    padding:8px;
    border: 1px solid black;
    border-radius: 8px;
}

.DecaturVoteSearch .tag-input-form .tag-menu button {
    cursor:pointer;
}

.DecaturVoteSearch .tag-input-form .added-tags button {
    cursor:not-allowed;
}
