/** The root node. Contains an h1, form and div.ResultsList */
.DecaturVoteSearch {
    --selected_button_color: green;
}
/** Search page heading */
.DecaturVoteSearch h1 {}

/** Parent Node for each .SearchResult */
.DecaturVoteSearch .ResultsList {}

/** Container for search result (child of .ResultsList) */
.DecaturVoteSearch .SearchResult {}

/** heading for each search result */
.DecaturVoteSearch .SearchResult h2 {}
/** search result title link */
.DecaturVoteSearch .SearchResult h2 a {}
/** search result title link, hover/active */
.DecaturVoteSearch .SearchResult h2 a:hover, .DecaturVoteSearch .SearchResult h2 a:active, .DecaturVoteSearch .SearchResult h2 a:focus {}
/** Summary of search result items */
.DecaturVoteSearch .SearchResult > p {}

.DecaturVoteSearch nav.pages a {
    display:inline-block;
    padding:4px;
    margin:4px;
}
.DecaturVoteSearch nav.pages a.current_page {
    text-decoration:none;
}

.DecaturVoteSearch a.reset_search {
    font-style:italic;
}

.DecaturVoteSearch .SearchResult .search_footer {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/** The datetime in the bottom-right corner of the result */
.DecaturVoteSearch .SearchResult .date {
    margin-right:8px;
    margin-top:8px;
}

/** The item's type in the bottom-left corner of the result */
.DecaturVoteSearch .SearchResult .type{
    margin-right:8px;
    margin-top:8px;
}

/** the search form */
.DecaturVoteSearch form {}
/** the search form's input */
.DecaturVoteSearch form input {}

.DecaturVoteSearch form button.SearchTagButton.selected {
    background: var(--selected_button_color);
}
